node_modules
temp
.tmp
dist
.sass-cache
app/bower_components
test/bower_components
package
npm-debug.log

# Generic stuff to ignore

# Node.js with Express and Stlyus
/.monitor

# Eclipse
/.project
/.settings
/.buildpath

# IntelliJ
/.idea

# Sublime
*.sublime-project
*.sublime-workspace

# Windows
Thumbs.db

# Vim
.*.sw[a-z]
*.un~i
tags

# OSX
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes

# nodejs npm modules
/node_modules

# ZSH Cake plugin cache
/.cake_task_cache

# Build files
/build/*
